<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SysUser</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/component/element/css/index.css">

</head>
<body style="background-color: white">
<div id="app">

    <hr style="border: none">
    <div>
        <el-button size="mini" type="primary" @click="showEditForm('add')" icon="el-icon-plus">添加</el-button>
        <hr style="border: none">
        <el-form :inline="true" :model="queryForm.data" class="demo-form-inline">
            <el-form-item label="">
                <el-input v-model="queryForm.data.name" placeholder="名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="queryFormSubmit" icon="el-icon-search">查询</el-button>
            </el-form-item>
        </el-form>
    </div>
    <hr>
    <div>
        <el-table :data="tableData" v-loading="loading" style="width: 100%">
            <el-table-column label="序号" type="index"></el-table-column>
            <!--<el-table-column label="归属公司" prop="companyId"></el-table-column>-->
            <!--<el-table-column label="归属部门" prop="officeId"></el-table-column>-->
            <!--<el-table-column label="密码" prop="password"></el-table-column>-->
            <el-table-column label="姓名" prop="name"></el-table-column>
            <el-table-column label="工号" prop="no"></el-table-column>
            <el-table-column label="登录名" prop="loginName"></el-table-column>
            <el-table-column label="邮箱" prop="email"></el-table-column>
            <el-table-column label="电话" prop="phone"></el-table-column>
            <el-table-column label="手机" prop="mobile"></el-table-column>
            <!--<el-table-column label="用户类型" prop="userType"></el-table-column>-->
            <!--<el-table-column label="用户头像" prop="photo"></el-table-column>-->
            <!--<el-table-column label="最后登陆IP" prop="loginIp"></el-table-column>-->
            <!--<el-table-column label="最后登陆时间" prop="loginDate"></el-table-column>-->
            <!--<el-table-column label="是否可登录" prop="loginFlag"></el-table-column>-->
            <!--<el-table-column label="创建者" prop="createBy"></el-table-column>-->
            <!--<el-table-column label="创建时间" prop="createDate"></el-table-column>-->
            <!--<el-table-column label="更新者" prop="updateBy"></el-table-column>-->
            <!--<el-table-column label="更新时间" prop="updateDate"></el-table-column>-->
            <!--<el-table-column label="备注信息" prop="remarks"></el-table-column>-->
            <!--<el-table-column label="删除标记" prop="delFlag"></el-table-column>-->
            <el-table-column label="操作" fixed="right" width="200" prop="id">
                <template slot-scope="scope">
                    <el-button size="mini" type="primary" @click="showEditForm('edit',scope.$index, scope.row)"
                               icon="el-icon-edit">编辑
                    </el-button>
                    <el-button size="mini" type="danger" @click="deleteItem(scope.$index, scope.row)"
                               icon="el-icon-delete">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page="pages.currentPage" :page-sizes="pages.pageSizeList"
                       :page-size="pages.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pages.total"
                       prev-text="上一页"
                       next-text="下一页" background>
        </el-pagination>
    </div>
    <div>
        <el-dialog :title="editForm.formName" :visible.sync="editForm.dialogFormVisible">
            <el-form ref="editForm.data" :model="editForm.data" :rules="editForm.rules" label-width="120px"
                     label-position="right">
                <el-row>
                    <!--<el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="归属部门" prop="officeId">
                            <el-input v-model="editForm.data.officeId" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="editForm.data.password" clearable></el-input>
                        </el-form-item>
                    </el-col>-->
                    <!--<el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="用户类型" prop="userType">
                            <el-input v-model="editForm.data.userType" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="最后登陆IP" prop="loginIp">
                            <el-input v-model="editForm.data.loginIp" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="是否可登录" prop="loginFlag">
                            <el-input v-model="editForm.data.loginFlag" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="创建时间" prop="createDate">
                            <el-input v-model="editForm.data.createDate" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="更新时间" prop="updateDate">
                            <el-input v-model="editForm.data.updateDate" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="删除标记" prop="delFlag">
                            <el-input v-model="editForm.data.delFlag" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="归属公司" prop="companyId">
                            <el-input v-model="editForm.data.companyId" clearable></el-input>
                        </el-form-item>
                    </el-col>-->

                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="工号" prop="no">
                            <el-input v-model="editForm.data.no" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="登录名" prop="loginName">
                            <el-input v-model="editForm.data.loginName" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="姓名" prop="name">
                            <el-input v-model="editForm.data.name" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="电话" prop="phone">
                            <el-input v-model="editForm.data.phone" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="手机" prop="mobile">
                            <el-input v-model="editForm.data.mobile" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="邮箱" prop="email">
                            <el-input v-model="editForm.data.email" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <!--<el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="用户头像" prop="photo">
                            <el-input v-model="editForm.data.photo" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="最后登陆时间" prop="loginDate">
                            <el-input v-model="editForm.data.loginDate" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="创建者" prop="createBy">
                            <el-input v-model="editForm.data.createBy" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="更新者" prop="updateBy">
                            <el-input v-model="editForm.data.updateBy" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="备注信息" prop="remarks">
                            <el-input v-model="editForm.data.remarks" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                    </el-col>-->
                </el-row>

                <input type="hidden" v-model="editForm.data.id">
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editForm.dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="save('editForm.data')">保 存</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>

<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-resource.min.js"></script>
<script src="/static/component/element/js/index.js"></script>
<script>

    Vue.http.options.emulateJSON = true;
    var vueApp = new Vue({
        el: "#app",
        data: {
            loading: false,
            url: {
                queryPage: "/com/lizhivscaomei/jes/sys/controller/sysUser/query/page",
                save: "/com/lizhivscaomei/jes/sys/controller/sysUser/save",
                delete: "/com/lizhivscaomei/jes/sys/controller/sysUser/delete",
                detail: "/com/lizhivscaomei/jes/sys/controller/sysUser/query/detail",
                domainOptions: "/com/lizhivscaomei/jes/sys/controller/sysDomain/query/spinner"
            },
            pages: {
                total: 0,
                currentPage: 1,
                pageSize: 20,
                pageSizeList: [20, 40, 100]
            },
            tableData: [],
            editForm: {
                formName: "SysUser",
                dialogFormVisible: false,
                data: {
//                    //归属公司
//                    companyId: "",
//                    //归属部门
//                    officeId: "",
//                    //登录名
                    loginName: "",
//                    //密码
//                    password: "",
//                    //工号
                    no: "",
//                    //姓名
                    name: "",
//                    //邮箱
                    email: "",
//                    //电话
                    phone: "",
//                    //手机
                    mobile: "",
//                    //用户类型
//                    userType: "",
//                    //用户头像
//                    photo: "",
//                    //最后登陆IP
//                    loginIp: "",
//                    //最后登陆时间
//                    loginDate: "",
//                    //是否可登录
//                    loginFlag: "",
//                    //创建者
//                    createBy: "",
//                    //创建时间
//                    createDate: "",
//                    //更新者
//                    updateBy: "",
//                    //更新时间
//                    updateDate: "",
//                    //备注信息
//                    remarks: "",
//                    //删除标记
//                    delFlag: "",
                    id: ""
                },
                rules: {
//                    companyId: [{required: true, message: '请输入归属公司', trigger: 'blur'}],
//                    officeId: [{required: true, message: '请输入归属部门', trigger: 'blur'}],
                    loginName: [{required: true, message: '请输入登录名', trigger: 'blur'}],
//                    password: [{required: true, message: '请输入密码', trigger: 'blur'}],
                    no: [{required: true, message: '请输入工号', trigger: 'blur'}],
                    name: [{required: true, message: '请输入姓名', trigger: 'blur'}],
                    email: [{required: true, message: '请输入邮箱', trigger: 'blur'}],
                    phone: [{required: true, message: '请输入电话', trigger: 'blur'}],
                    mobile: [{required: true, message: '请输入手机', trigger: 'blur'}],
//                    userType: [{required: true, message: '请输入用户类型', trigger: 'blur'}],
//                    photo: [{required: true, message: '请输入用户头像', trigger: 'blur'}],
//                    loginIp: [{required: true, message: '请输入最后登陆IP', trigger: 'blur'}],
//                    loginDate: [{required: true, message: '请输入最后登陆时间', trigger: 'blur'}],
//                    loginFlag: [{required: true, message: '请输入是否可登录', trigger: 'blur'}],
//                    createBy: [{required: true, message: '请输入创建者', trigger: 'blur'}],
//                    createDate: [{required: true, message: '请输入创建时间', trigger: 'blur'}],
//                    updateBy: [{required: true, message: '请输入更新者', trigger: 'blur'}],
//                    updateDate: [{required: true, message: '请输入更新时间', trigger: 'blur'}],
//                    remarks: [{required: true, message: '请输入备注信息', trigger: 'blur'}],
//                    delFlag: [{required: true, message: '请输入删除标记', trigger: 'blur'}],
                    id: []
                }
            },
            queryForm: {
                dialogFormVisible: false,
                data: {
                    currentPage: 1,
                    pageSize: 10,
//                    //归属公司
//                    companyId: "",
//                    //归属部门
//                    officeId: "",
//                    //登录名
                    loginName: ""
//                    //密码
//                    password: "",
//                    //工号
//                    no: "",
//                    //姓名
//                    name: "",
//                    //邮箱
//                    email: "",
//                    //电话
//                    phone: "",
//                    //手机
//                    mobile: "",
//                    //用户类型
//                    userType: "",
//                    //用户头像
//                    photo: "",
//                    //最后登陆IP
//                    loginIp: "",
//                    //最后登陆时间
//                    loginDate: "",
//                    //是否可登录
//                    loginFlag: "",
//                    //创建者
//                    createBy: "",
//                    //创建时间
//                    createDate: "",
//                    //更新者
//                    updateBy: "",
//                    //更新时间
//                    updateDate: "",
//                    //备注信息
//                    remarks: "",
//                    //删除标记
//                    delFlag: "",
//                    id: ""
                }
            }
            ,
            options: {
                domainId: []
            }
        },
        methods: {
            handleSizeChange: function (val) {
                this.queryFormSubmit();
            },
            handleCurrentChange: function (val) {
                this.queryFormSubmit();
            },
            queryFormSubmit: function () {
                this.loading = true;
                this.queryForm.data.currentPage = this.pages.currentPage;
                this.queryForm.data.pageSize = this.pages.pageSize;
                this.$http.get(this.url.queryPage, {params: this.queryForm.data}).then(function (res) {
                    this.loading = false;
                    this.tableData = res.data.data.list;
                    this.pages.total = res.data.data.total;
                }, function (res) {
                    this.loading = false;
                    this.$message({
                        showClose: true,
                        message: "网络错误,code=" + res.status,
                        type: "error"
                    });
                });
            },
            showEditForm: function (action, index, row) {
                if (action == "add") {
                    this.editForm.data.id = "";
                }
                if (action == "edit") {
                    this.editForm.data.id = row.id;
                    this.editForm.data.loginName = row.loginName;
                    this.editForm.data.no = row.no;
                    this.editForm.data.name = row.name;
                    this.editForm.data.email = row.email;
                    this.editForm.data.phone = row.phone;
                    this.editForm.data.mobile = row.mobile;
                }
                this.editForm.dialogFormVisible = true;
            },
            deleteItem: function (index, row) {
                this.$confirm('此操作将删除' + row.name + ', 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$http.get(this.url.delete, {params: {id: row.id}}).then(function (res) {
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        vueApp.queryFormSubmit();
                    }, function (res) {
                        this.$message({
                            showClose: true,
                            message: '网络错误' + res.status,
                            type: 'error'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            save: function (formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$http.post(this.url.save, this.editForm.data).then(function (res) {
                            this.$message({
                                type: 'success',
                                message: '保存成功!'
                            });
                            this.editForm.dialogFormVisible = false;
                            vueApp.queryFormSubmit();
                        }, function (res) {
                            this.loading = false;
                            console.log(res.status);
                            this.$message({
                                showClose: true,
                                message: '网络错误' + res.status,
                                type: 'error'
                            });
                        });

                    } else {
                        console.log('error submit!!');

                        return false;
                    }
                });
            }
        },
        mounted: function () {
            //初始化操作
            /*debugger;
             this.$http.get(this.url.domainOptions).then(function (res) {
             this.options.domainId = res.data;
             this.editForm.data.domainId=res.data[0].id;
             this.queryForm.data.domainId=res.data[0].id;
             }, function (res) {
             this.$message({
             showClose: true,
             message: "网络错误,code=" + res.status,
             type: "error"
             });
             });*/
            this.queryFormSubmit();
        }
    });

</script>
</html>